langchain
langchain-classic
langchain-openai
langchain-community
langchain-huggingface
sentence-transformers
langchain-text-splitters
langchain-chroma
chromadb
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
python-dotenv==1.0.1